
# $Name

! $Level
! $Basis
$Opt


! NOSOSCF

! Grid6 FinalGrid7

#%pal nprocs 16
#end



%geom
	MaxIter 200
	Calc_Hess true # Calculate Hessian in the beginning
	NumHess true # Request numerical Hessian (analytical not available)
	Recalc_Hess 5  # Recalculate the Hessian every n steps
end

%scf 
	MaxIter 1500     # Here setting MaxIter to a very high number. Intended for systems that require sometimes 1000 iterations before converging (very rare).
	DIISMaxEq 10  # Default value is 5. A value of 15-40 necessary for difficult systems.
	directresetfreq 5 # Default value is 15. A value of 1 (very expensive) is sometimes required. A value between 1 and 15 may be more cost-effective.
end


%coords
	CTyp = xyz
	Charge = $Charge
	Mult = $Multi
	coords
$XYZ
	end
end



