# $Name

! $Level
! $Basis
$Opt


! Grid6 FinalGrid7

%pal nprocs 4
end

%scf
	CNVSOSCF true
	maxiter 1000
end

%geom
	MaxIter 200
	Calc_Hess true # Calculate Hessian in the beginning
	NumHess true # Request numerical Hessian (analytical not available)
	Recalc_Hess 5  # Recalculate the Hessian every 5 steps
end

%scf 
MaxIter 300     # Here setting MaxIter to a very high number. Intended for systems that require sometimes 1000 iterations before converging (very rare).
DIISMaxEq 15  # Default value is 5. A value of 15-40 necessary for difficult systems.
end


%coords
	CTyp = xyz
	Charge = $Charge
	Mult = $Multi
	coords
$XYZ
	end
end
