# $Name

! $Level
! $Basis
$Opt

%geom
	MaxIter 200
	Calc_Hess true # Calculate Hessian in the beginning
	NumHess true # Request numerical Hessian (analytical not available)
	Recalc_Hess 5  # Recalculate the Hessian every 5 steps
end


%coords
	CTyp = xyz
	Charge = $Charge
	Mult = $Multi
	coords
$XYZ
	end
end
